FORMAT: 1A
HOST: http://api.clientes.com/v1

# API para gestão de Clientes

A API dará apoio gestão empresarial de clientes da Soluti. 
Novos clientes poderão ser cadastrados por meio da API e supurtar a leitura de Certificado Digital.
E um sistema de autenticação para aplicação do cliente.

# Group API

## Sobre [/]

Aqui podemos descrever detalhes que são comuns a todos os serviços como formatos, headers, tipos de erros, etc

# Group Mensagem

## Cliente [/cliente]

### Criar cliente [POST]

+ Request Criar um cliente

    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes (Cliente)

+ Response 201 (application/json)
    + Attributes (Created)

### Listar clientes [GET]

+ Response 200 (application/json)
    + Attributes (array[Cliente])

+ Response 404 (application/json)
    + Attributes (Error)

## Cliente [/cliente/{id_cliente}]

+ Parameters
    + id_cliente: 1 (number, required) - ID do cliente

### Ver Cliente [GET]

+ Response 200 (application/json)
    + Attributes (Cliente)

+ Response 404 (application/json)
    + Attributes (Error)


### Excluir cliente [DELETE]

+ Response 200 (application/json)
    + Attributes (Id)

+ Response 404 (application/json)
    + Attributes (Error)


### Alterar Cliente [POST]

+ Request Alterar o cadastro do cliente

    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes (Message)

+ Response 200 (application/json)
    + Attributes (Created)

+ Response 400 (application/json)
    + Attributes (Error)


## Certificado [/cliente/{id_cliente}/certificado]

+ Parameters
    + id_message: 1 (number) - ID da mensagem

### Listar Certificados [GET]

+ Response 200 (application/json)
    + Attributes (array[File])

+ Response 404 (application/json)
    + Attributes (Error)

## Anexos [/cliente/{id_cliente}/file/{certificado_id}]

+ Parameters
    + id_cliente: 1 (number) - ID do Cliente
    + certificado_id: 1 (number) - ID do certificado

### Ver anexo [GET]

+ Response 200 (application/json)
    + Attributes (File)

+ Response 404 (application/json)
    + Attributes (Error)

### Remover Certificado [DELETE]

+ Response 200 (application/json)
    + Attributes (Id)

+ Response 400 (application/json)
    + Attributes (Error)

# Data Structures

## Cliente (object)
+ id: 42 (number) - Código do usuário
+ nome: "Marcos" (string, required)  - Nome do usuário
+ cpf: "360-648-458-56"(int, required) - CPF do usuário
+ telefones:[
    "+5561999362974",
    "+5538999163594"
] - Lista de Telefones do Usuário
+ email: "marcos@mail.com"(string, required)  - e-mail do Usuário
+ data_nasc: "1988-11-01"(date, required)  - Data de Nascimento Usuário
+ senha: "****"(string, required) -  Senha de acesso.
+ certificado: "file"(string, required)  - Certificado Digital do Usuário
- endereco
    - rua
    - cidade
    - estado


## ClienteUpdate (Cliente)
+ id_cliente (number) - Id do cliente

## Certificado (object)
+ certificado_id (number) - Id do certificado
+ name (string) - Nome do arquivo
+ url (string) - Url do arquivo

## Created (object)
+ id (number) - Id gerado

## Id (object)
+ id (number) - Id a ser processado

## Error (object)
+ code: 400 (number) - Status code
+ message (string) - Mensagem do status
+ description (string) - Descrição do status


## Multi (object)
+ id (number) - Código da entidade
+ code: 200 (number) - Status code
+ message (string) - Descrição do status


