FORMAT: 1A
HOST: http://api.clientes.com/v1

# API para gestão de Clientes

A API dará apoio gestão empresarial de clientes da Soluti. 
Novos clientes poderão ser cadastrados por meio da API e supurtar a leitura de Certificado Digital.
E um sistema de autenticação para aplicação do cliente.

# Group API

## Sobre [/]

Aqui serão especificados o funcionamento da API.

# Group Mensagem

## Cliente [/cliente]

### Criar cliente [POST]

+ Request Criar um cliente

    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes (Cliente)

+ Response 201 (application/json)
    + Attributes (Created)

### Listar clientes [GET]

+ Response 200 (application/json)
    + Attributes (array[Cliente])

+ Response 404 (application/json)
    + Attributes (Error)

## Cliente [/cliente/{id_cliente}]

+ Parameters
    + id_cliente: 1 (number, required) - ID do cliente

### Ver Cliente [GET]

+ Response 200 (application/json)
    + Attributes (Cliente)

+ Response 404 (application/json)
    + Attributes (Error)


### Excluir cliente [DELETE]

+ Response 200 (application/json)
    + Attributes (Cliente)

+ Response 404 (application/json)
    + Attributes (Error)


### Alterar Cliente [POST]

+ Request Alterar o cadastro do cliente

    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes (Cliente)

+ Response 200 (application/json)
    + Attributes (Created)

+ Response 400 (application/json)
    + Attributes (Error)


## Certificado [/cliente/{id_cliente}/certificado/{id_certificado}/{file_name}]

+ Parameters
    + id_certificado: 1 (number) - ID do certificado
    + id_cliente: 1 (number) - ID do cliente
    + file_name: "certf.name" (string) - Nome do arquivo do certificado Digital.
    
### Ver certificado [GET]

+ Response 200 (application/json)
    + Attributes (Certificado)

+ Response 404 (application/json)
    + Attributes (Error)

### Remover Certificado [DELETE]

+ Response 200 (application/json)
    + Attributes (Certificado)

+ Response 400 (application/json)
    + Attributes (Error)

# Data Structures

## Cliente (object)
+ id: 42 (number) - Código do usuário
+ nome: "Marcos" (string, required)  - Nome do usuário
+ cpf: "360-648-458-56"(int, required) - CPF do usuário
+ telefones:[
    "+5561999362974",
    "+5538999163594"
] - Lista de Telefones do Usuário
+ email: "marcos@mail.com"(string, required)  - e-mail do Usuário
+ data_nasc: "1988-11-01"(date, required)  - Data de Nascimento Usuário
+ senha: "****"(string, required) -  Senha de acesso.
+ certificado: "certificado"(string, required)  - Certificado Digital do Usuário
- endereco
    - rua:"Rua X, Nº 8080" (string, required) -  Descrição do endereço.
    - cidade: "Word Wide" (string, required) -  Nome da cidade.
    - estado: "World" (string, required) -  Nome do Estado.

## ClienteUpdate (Cliente)
+ id_cliente (number) - Id do cliente

## Certificado (object)
+ id_certificado (number) - Id do certificado
+ id_cliente (number) - Id do cliente
+ file_name (string) - Nome do arquivo
+ url (string) - Url do certificado

## Created (object)
+ id (number) - Id gerado

## Id (object)
+ id (number) - Id a ser processado

## Error (object)
+ code: 400 (number) - Status code
+ message (string) - Mensagem do status
+ description (string) - Descrição do status


## Multi (object)
+ id (number) - Código da entidade
+ code: 200 (number) - Status code
+ message (string) - Descrição do status


